@import "./font";

.comments {
  padding: 0 5%;
  padding-bottom: 100px;
  background-color: #f9fafe;
}

.comments-title {
  @include font-secondary-italic;
  font-size: 2.25em;
  margin-bottom: 24px;
}

.comments-paragraph {
  @include font-primary-medium;
  font-size: 1.125em;
  color: #4e5158;
  margin-bottom: 24px;
}

.comments-clients {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;

  #{&}-1 img {
    width: 70px;
  }

  #{&}-2 img {
    width: 70px;
  }

  #{&}-3 img {
    width: 70px;
  }

  #{&}-4 img {
    width: 70px;
  }

  #{&}-5 img {
    width: 70px;
  }
}

.comments-testimonial {
  #{&}-name {
    @include font-primary-medium;
    margin-bottom: 24px;
  }

  #{&}-name h3 {
    font-size: 1.5em;
  }

  #{&}-name p {
    font-size: 1em;
    color: #4e5158;
  }

  #{&}-content p {
    @include font-primary-medium-italic;
    font-size: 1.125em;
  }
}

@media all and(min-width:1280px) {
  .comments-title {
    font-size: 4em;
    text-align: center;
  }

  .comments-paragraph {
    width: 40%;
    margin-bottom: 50px;
  }

  .comments-clients-and-testimonials {
    display: flex;
    flex-direction: row;

    .comments-clients {
      display: grid;
      grid-template-columns: auto auto;
      width: 40%;
    }

    .comments-testimonial {
      width: 50%;
    }
  }

  .comments-clients {
    position: relative;
    justify-content: unset;

    #{&}-1 {
      top: 0;
      left: 85%;
      position: relative;
      animation: example1 infinite;
      animation-duration: 15s;
    }

    #{&}-2 {
      top: 0;
      left: -15%;
      position: relative;
      animation: example2 infinite;
      animation-duration: 15s;
    }

    #{&}-3 {
      top: -100%;
      left: 85%;
      position: relative;
      animation: example3 infinite;
      animation-duration: 15s;
    }

    #{&}-4 {
      top: -100%;
      left: -15%;
      position: relative;
      animation: example4 infinite;
      animation-duration: 15s;
    }

    #{&}-5 {
      top: -200%;
      left: 85%;
      position: relative;
      animation: example5 infinite;
      animation-duration: 15s;
    }



  }

  .comments-timeline {
    width: 3px;
    height: 260px;
    background-color: #4e5158;
    margin: 0 10px;
  }

  @keyframes example1 {
    0% {
      left: 160%;
      top: 100%;
    }

    20% {
      left: 120%;
      top: 250%;

    }

    40% {
      left: 70%;
      top: 250%;
    }

    60% {
      left: 30%;
      top: 100%;
    }

    80% {
      top: 0;
      left: 85%;
    }

    100% {
      left: 160%;
      top: 100%;
    }
  }

  @keyframes example2 {
    0% {}

    20% {
      transform: scale(1.5);
      left: 70%;
      top: 100%;

    }

    40% {
      transform: scale(1);
      left: 20%;
      top: 250%;
    }

    60% {
      left: -30%;
      top: 250%;
    }

    80% {
      left: -70%;
      top: 100%;
    }

    100% {}
  }

  @keyframes example3 {
    0% {
      left: 30%;
      top: 0;
    }

    20% {
      top: -100%;
      left: 85%;
    }

    40% {
      left: 150%;
      top: 0;
    }

    60% {
      left: 120%;
      top: 150%;
    }

    80% {
      left: 70%;
      top: 150%;
    }

    100% {
      left: 30%;
      top: 0;
    }
  }

  @keyframes example4 {
    0% {
      left: -30%;
      top: 150%
    }

    20% {
      left: -70%;
      top: 0;
    }

    40% {
      top: -100%;
      left: -15%;
    }

    60% {
      left: 50%;
      top: 0;

    }

    80% {
      left: 20%;
      top: 150%;
    }

    100% {
      left: -30%;
      top: 150%;
    }
  }

  @keyframes example5 {
    0% {
      left: 120%;
      top: 50%;
    }

    20% {
      left: 70%;
      top: 50%
    }

    40% {
      left: 30%;
      top: -100%;
    }

    60% {
      top: -200%;
      left: 85%;

    }

    80% {
      left: 150%;
      top: -100%;
    }

    100% {
      left: 120%;
      top: 50%;
    }
  }

}