@import "./font";
@import "./colors";

@mixin timeline-circle {
  @include section-color;
  @include timeline-circle-border;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 20px;
}

.comments {
  @include section-color;
  padding: 0 5%;
  padding-bottom: 100px;
}

.comments-title {
  @include font-secondary-italic;
  font-size: 2.25em;
  margin-bottom: 24px;
}

.comments-paragraph {
  @include font-primary-medium;
  @include paragraph-color-dark;
  font-size: 1.125em;
  margin-bottom: 50px;
}

.comments-clients {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  width: fit-content;
  position: relative;

  #{&}-1 {
    width: 70px;
    margin-right: 30px;

    img {
      width: 100%;
    }

  }

  #{&}-2 {
    width: 70px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  #{&}-3 {
    width: 70px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  #{&}-4 {
    width: 70px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  #{&}-5 {
    width: 70px;
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  .showClient {
    scale: 1.5;
    margin-top: -10px;
  }

}

.comments-testimonial {
  #{&}-name {
    @include font-primary-medium;
    margin-bottom: 24px;
  }

  #{&}-name h3 {
    font-size: 1.5em;
  }

  #{&}-name p {
    @include paragraph-color-dark;
    font-size: 1em;
  }

  #{&}-content p {
    @include font-primary-medium-italic;
    font-size: 1.125em;
  }
}

.comments-testimonial1 {
  display: none;
}

.comments-testimonial2 {
  display: none;
}

.comments-testimonial3 {
  display: none;
}

.comments-testimonial4 {
  display: none;
}

.comments-testimonial5 {
  display: none;
}

.showTestimonial {
  display: unset;
}

#comments-button {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;

  img {
    width: 20px;
  }

  .back {
    rotate: 180deg;
  }

  .forth {
    margin-left: 15px;
  }

}

@media all and(min-width:1280px) {

  #comments-button {
    display: none;
  }

  .comments {
    padding: 0 20%;
    padding-bottom: 100px;
  }

  .comments-title {
    font-size: 4em;
  }

  .comments-paragraph {
    width: 40%;
    margin-bottom: 50px;
  }

  .comments-clients-and-testimonials {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 500px;

    .comments-clients {
      position: relative;
      width: 400px;
      height: 70%;
    }

    .comments-button {
      display: none;
    }

    .comments-timeline {
      @include timeline-background-color;
      width: 3px;
      height: 260px;
      margin: 0 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: center;
      height: 70%;
    }

    .comments-timeline-circle1 {
      @include timeline-circle();
      top: 10%;
      animation: timelineCircle1 infinite;
      animation-duration: 50s;
    }

    .comments-timeline-circle2 {
      @include timeline-circle();
      top: 28%;
      animation: timelineCircle2 infinite;
      animation-duration: 50s;
    }

    .comments-timeline-circle3 {
      @include timeline-circle();
      top: 47%;
      animation: timelineCircle3 infinite;
      animation-duration: 50s;
    }

    .comments-timeline-circle4 {
      @include timeline-circle();
      bottom: 28%;
      animation: timelineCircle4 infinite;
      animation-duration: 50s;
    }

    .comments-timeline-circle5 {
      @include timeline-circle();
      bottom: 10%;
      animation: timelineCircle5 infinite;
      animation-duration: 50s;
    }


    .comments-testimonial {
      width: 50%;
      margin-left: 10px;
      position: relative;
      line-height: 1.5em;
    }

    .comments-testimonial1 {
      display: unset;
      position: absolute;
      animation: testimonial1 infinite;
      animation-duration: 50s;
      font-size: 1.25em;
    }

    .comments-testimonial2 {
      display: unset;
      position: absolute;
      animation: testimonial2 infinite;
      animation-duration: 50s;
      font-size: 1.25em;
    }

    .comments-testimonial3 {
      display: unset;
      position: absolute;
      animation: testimonial3 infinite;
      animation-duration: 50s;
      font-size: 1.25em;
    }

    .comments-testimonial4 {
      display: unset;
      position: absolute;
      animation: testimonial4 infinite;
      animation-duration: 50s;
      font-size: 1.25em;
    }

    .comments-testimonial5 {
      display: unset;
      position: absolute;
      animation: testimonial5 infinite;
      animation-duration: 50s;
      font-size: 1.25em;
    }

  }



  .comments-clients {
    position: relative;
    justify-content: unset;

    #{&}-1 {
      position: absolute;
      animation: example1 infinite;
      animation-duration: 50s;
    }

    #{&}-2 {
      position: absolute;
      animation: example2 infinite;
      animation-duration: 50s;
    }

    #{&}-3 {
      position: absolute;
      animation: example3 infinite;
      animation-duration: 50s;
    }

    #{&}-4 {
      position: absolute;
      animation: example4 infinite;
      animation-duration: 50s;
    }

    #{&}-5 {
      position: absolute;
      animation: example5 infinite;
      animation-duration: 50s;
    }



  }


  @keyframes example1 {
    0% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    10% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    20% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    30% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    40% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    50% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    60% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    70% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    80% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    90% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    100% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }
  }

  @keyframes example2 {
    0% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    10% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    20% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    30% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    40% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    50% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    60% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    70% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    80% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    90% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    100% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }
  }

  @keyframes example3 {
    0% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    10% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    20% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    30% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    40% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    50% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    60% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    70% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    80% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    90% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    100% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }
  }

  @keyframes example4 {
    0% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    10% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    20% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    30% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    40% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    50% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    60% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    70% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    80% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    90% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    100% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }
  }

  @keyframes example5 {
    0% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    10% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }

    20% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    30% {
      transform: scale(1);
      left: 10%;
      top: 80%;
    }

    40% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    50% {
      transform: scale(1);
      left: 5%;
      top: 35%;
    }

    60% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    70% {
      transform: scale(1);
      left: 40%;
      top: 0;
    }

    80% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    90% {
      transform: scale(1.5);
      left: 65%;
      top: 40%;
    }

    100% {
      transform: scale(1);
      left: 60%;
      top: 80%;
    }
  }

  @keyframes timelineCircle1 {
    0% {
      @include circle-background-color-active;
    }

    10% {
      @include circle-background-color-active;
    }

    20% {
      @include section-color;
    }

    30% {
      @include section-color;
    }

    40% {
      @include section-color;
    }

    50% {
      @include section-color;
    }

    60% {
      @include section-color;
    }

    70% {
      @include section-color;
    }

    80% {
      @include section-color;
    }

    90% {
      @include section-color;
    }

    100% {
      @include circle-background-color-active;
    }
  }

  @keyframes timelineCircle2 {
    0% {
      @include section-color;
    }

    10% {
      @include section-color;
    }

    20% {
      @include circle-background-color-active;
    }

    30% {
      @include circle-background-color-active;
    }

    40% {
      @include section-color;
    }

    50% {
      @include section-color;
    }

    60% {
      @include section-color;
    }

    70% {
      @include section-color;
    }

    80% {
      @include section-color;
    }

    90% {
      @include section-color;
    }

    100% {
      @include section-color;
    }
  }

  @keyframes timelineCircle3 {
    0% {
      @include section-color;
    }

    10% {
      @include section-color;
    }

    20% {
      @include section-color;
    }

    30% {
      @include section-color;
    }

    40% {
      @include circle-background-color-active;
    }

    50% {
      @include circle-background-color-active;
    }

    60% {
      @include section-color;
    }

    70% {
      @include section-color;
    }

    80% {
      @include section-color;
    }

    90% {
      @include section-color;
    }

    100% {
      @include section-color;
    }
  }

  @keyframes timelineCircle4 {
    0% {
      @include section-color;
    }

    10% {
      @include section-color;
    }

    20% {
      @include section-color;
    }

    30% {
      @include section-color;
    }

    40% {
      @include section-color;
    }

    50% {
      @include section-color;
    }

    60% {
      @include circle-background-color-active;
    }

    70% {
      @include circle-background-color-active;
    }

    80% {
      @include section-color;
    }

    90% {
      @include section-color;
    }

    100% {
      @include section-color;
    }
  }

  @keyframes timelineCircle5 {
    0% {
      @include section-color;
    }

    10% {
      @include section-color;
    }

    20% {
      @include section-color;
    }

    30% {
      @include section-color;
    }

    40% {
      @include section-color;
    }

    50% {
      @include section-color;
    }

    60% {
      @include section-color;
    }

    70% {
      @include section-color;
    }

    80% {
      @include circle-background-color-active;
    }

    90% {
      @include circle-background-color-active;
    }

    100% {
      @include section-color;
    }
  }

  @keyframes testimonial1 {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 1;
    }

    20% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes testimonial2 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    30% {
      opacity: 1;
    }

    40% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes testimonial3 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    60% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    80% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes testimonial4 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    80% {
      opacity: 0;
    }

    90% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes testimonial5 {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 0;
    }

    20% {
      opacity: 0;
    }

    30% {
      opacity: 0;
    }

    40% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }

    60% {
      opacity: 0;
    }

    70% {
      opacity: 0;
    }

    80% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

}