@import "./font";
@import "./colors";

.contact-us {
  #{&}-container {
    padding: 100px 5%;
    display: flex;
    flex-direction: column;
  }

  #{&}-text {
    width: 90%;

    .contact-us-heading-back {
      @include font-primary-medium;
      @include heading-color-back;
      font-size: 2em;
      margin-bottom: -25px;
    }

    .contact-us-heading {
      @include font-secondary-italic;
      @include heading-color-dark;
      font-size: 2em;
      margin-bottom: 30px;
    }

    .contact-us-info a {
      @include font-primary-medium;
      @include heading-color-dark;
      font-size: 1.75em;
    }
  }

  #{&}-image {
    margin-top: 50px;
    width: 90%;
  }

  .contact-us-image img {
    width: 100%;
  }
}

@media all and(min-width:1280px) {
  .contact-us {
    #{&}-container {
      padding: 50px 20%;
      padding-bottom: 100px;
      align-content: center;
      flex-direction: row;
      position: relative;
    }

    #{&}-text {
      width: 100%;

      .contact-us-heading-back {
        font-size: 6em;
      }

      .contact-us-heading {
        margin-top: -4%;
        margin-bottom: 50px;
        font-size: 4em;
        width: 60%;
      }

      .contact-us-info a {
        font-size: 2.5em;
      }
    }

    #{&}-image {
      width: 22%;
      position: absolute;
      bottom: 0;
      right: 10%;
    }
  }
}