@import "./colors";

.gallery {
  @include white-background;
  padding: 100px 5%;
  position: relative;
}

.gallery-invis {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  display: none;

  .image-wrap-invis {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70%;
    width: 100%;
    border-radius: 20px;

    .image-button {
      width: 30px;
      height: 30px;
      margin: auto 10px;
    }

    .image-button:hover {
      scale: 1.2;
      transition: 0.5s;
      cursor: pointer;
    }

    img {
      width: auto;
      max-width: 30%;
      height: auto;
      max-height: 100%;
      border-radius: 20px;
    }
  }

}

.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inv-picture {
  display: none;
}

.gallery-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer;

  img {
    @include box-shadow;
    height: 30%;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
  }
}

.middle {
  display: flex;
  align-items: center;

  img {
    @include box-shadow;
    width: 100%;
    border-radius: 25px;
    margin-bottom: 30px;
  }
}

.image-wrap {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30%;
  width: 100%;
  border-radius: 20px;

  .zoom {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 5%;
    border: none;
    box-shadow: none;
    pointer-events: none;
  }

  .image-button {
    width: 20px;
    height: 20px;
    margin: auto 10px;
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.image-wrap:hover {
  :nth-child(2) {
    filter: brightness(50%);
    transition: 1s;
  }

  .zoom {
    visibility: visible;
    transition: 1s;
  }
}

@media all and (min-width:1280px) {

  .gallery {
    padding: 100px 10%;
    padding-top: 50px;
  }

  .gallery-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .inv-picture {
    display: unset;
  }

  .gallery-wrap {
    width: 30%;
    justify-content: space-around;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .middle {
    height: 80%;
    margin-top: 100px;

    img {
      height: 80%;

    }

  }

  .zoomedIn {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;

    img {
      width: 30%;
    }

  }

  @keyframes mymove {
    from {
      bottom: -110px;
    }

    to {
      bottom: 0px;
    }
  }
}