@import "./colors";

@mixin burger {
  @include white-background;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
}

@mixin burger2 {
  @include white-background;
  width: 2px;
  height: 16px;
  margin-right: 4px;
}

.heading {
  position: relative;
  padding: 0px 5%;
}

.heading-content {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.heading-content-button {
  background: 0;
  border: 0;
}

.heading-content img {
  width: 98px;
  height: 35px;
}

.burger1 {
  @include burger();
}

.burger2 {
  @include burger();
}

.burger3 {
  @include burger();
}

.main-text {
  display: none;
}

#progress {
  @include footer-background;
  z-index: 5;
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 65px;
  width: 65px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 10px solid #22252e;
  cursor: pointer;
  z-index: 2;
  animation: backToTop 0.5s;
}

#progress-value {
  @include footer-background;
  @include heading-color-dark;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  height: calc(125% - 15px);
  width: calc(125% - 15px);
  justify-content: center;
  align-items: center;
}

#progress-value img {
  height: 50%;
  aspect-ratio: 1/1;
}

@keyframes backToTop {
  0% {
    width: 0;
    height: 0;
    bottom: 0px;
    right: 0px;
  }

  100% {
    width: 65px;
    height: 65px;
    bottom: 20px;
    right: 10px;
  }
}

@media all and(min-width:1280px) {
  .heading {
    padding: 0 20%;
  }

  .heading-content {
    padding-top: 100px;
  }

  .heading-content-button {
    display: none;
  }

  .main {
    position: relative;
  }

  .main-item {
    @include paragraph-color-light;
    position: fixed;
    top: 50%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    rotate: 270deg;
    align-items: center;
    z-index: 4;
  }

  .main-button {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    rotate: 180deg;
  }

  .main-text {
    display: unset;
    font-size: 0.75em;
  }

  .main-item:hover {
    .div2 {
      animation: burger2 0.5s forwards;
    }

    .div3 {
      animation: burger3 0.5s forwards;
    }

    .main-text {
      animation: textChange 0.5s forwards;
    }
  }

  .div1 {
    @include burger2();
  }

  .div2 {
    @include burger2();
  }

  .div3 {
    @include burger2();
  }

  .changeColor {
    @include footer-background;
  }

  .changeColorText {
    @include heading-color-dark;
  }


  @keyframes burger2 {
    0% {}

    100% {
      height: 25px;
    }
  }

  @keyframes burger3 {
    0% {}

    100% {
      height: 20px;
    }
  }

  @keyframes textChange {
    0% {}

    100% {
      margin-top: 10px;
      letter-spacing: 0.1em;
    }
  }

}