@import "./font";

.hero {
  padding: 150px 5%;
  padding-bottom: unset;

  #{&}-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  #{&}-text {
    margin-bottom: 84px;
    z-index: 2;
  }

  #{&}-text-title h1 {
    @include font-primary-heavy;
    font-size: 3em;
    color: white;
    margin-bottom: 32px;
  }

  #{&}-text-paragraph {
    margin-bottom: 2em;
  }

  #{&}-text-paragraph p {
    @include font-primary-light;
    font-size: 20px;
    color: white;
    opacity: 0.5;
  }

  #{&}-text-button {
    display: flex;
    flex-direction: column;
  }

  #{&}-image {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: relative;
    z-index: 1;
    margin-top: -84px;
  }

  #{&}-image-net {
    position: absolute;
    bottom: 0;
    opacity: 0.5;
  }

  background-image: url("/images/header-hero/hero-bg.png");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100% 100%;
}
.button-what-we-do {
  @include font-primary-medium;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 40px;
  border: none;
  margin-bottom: 24px;
}

.button-life-at-badin {
  @include font-primary-medium;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 40px;
  border: none;
  background-color: #393939;
}

.button-what-we-do a {
  color: #22252e;
  text-decoration: none;
}

.button-what-we-do:hover {
  background-color: #cfcfcf;
  transition: 0.5s;
}

.button-life-at-badin a {
  color: #ffff;
  text-decoration: none;
}

.button-life-at-badin:hover {
  background-color: #242324;
  transition: 0.5s;
}

.hero-image-net img {
  width: 100%;
  height: 100%;
}

.header-hero-planet {
  position: absolute;
  width: 50px;
  left: 20%;
  bottom: 200px;
  z-index: 1;
}

.header-hero-white {
  position: absolute;
  right: -40%;
  bottom: -1%;
  width: 100%;
}

.header-hero-tower1 {
  position: absolute;
  z-index: 1;
  width: 70px;
  bottom: -60px;
  left: 5px;
}

.header-hero-big {
  width: 450px;
  position: absolute;
  right: -100px;
  bottom: -15%;
}

.header-hero-tower2 {
  position: absolute;
  width: 60px;
  bottom: -1%;
  right: -3px;
}

//PC version

@media all and(min-width:1280px) {
  .hero {
    #{&}-container {
      flex-direction: row;
    }

    #{&}-text-title h1 {
      font-size: 5em;
    }

    #{&}-text-paragraph p {
      font-size: 1.37em;
      line-height: 1.5;
    }

    #{&}-text-button {
      flex-direction: row;
      width: 65%;
      justify-content: space-between;
    }

    #{&}-image {
      margin-top: 168px;
      position: relative;
    }

    #{&}-image-net {
      bottom: 0;
      right: -5%;
      height: 200%;
      width: 100%;
    }
  }

  .button-what-we-do {
    padding: 10px 20px;
    margin-bottom: unset;
    width: 180px;
  }

  .button-life-at-badin {
    padding: 10px 20px;
    width: 180px;
  }

  .header-hero-planet {
    bottom: 90%;
  }

  .header-hero-white {
    right: -45%;
  }

  .header-hero-tower1 {
    width: 15%;
  }

  .header-hero-tower2 {
    width: 13%;
  }

  .header-hero-big {
    width: 100%;
    right: -20%;
  }
}
