@import "./font";
@import "./colors";

.hire-us {
  padding: 50px 0;
  padding-bottom: 0;

  #{&}-container {
    display: flex;
    flex-direction: column;

    .hire-us-container-text {
      padding: 0 5%;
      margin-bottom: 30px;
    }

    .hire-us-heading-back {
      @include font-primary-medium;
      @include heading-color-back;
      font-size: 2em;
      margin-bottom: -25px;
    }

    .hire-us-heading {
      @include font-secondary-italic;
      @include heading-color-dark;
      font-size: 2em;
    }

    .hire-us-paragraph {
      @include font-primary-medium;
      @include paragraph-color-dark;
      font-size: 1em;
      width: 60%;
    }

    .hire-us-button button {
      @include font-primary-medium;
      @include paragraph-color-light;
      @include button-color-blue;
      font-size: 1em;
      border: none;
      border-radius: 30px;
      width: fit-content;
      padding: 15px 25px;
      margin-top: 30px;
    }

    .hire-us-button button:hover {
      @include button-color-blue-hover;
      transition: 0.5s;
    }

    .hire-us-container-trusted-clients {
      display: none;
    }

    #showTrusted {
      display: none;
    }

    #showTrusted-mobile {
      display: flex;
      flex-direction: row;
    }

    .hire-us-container-trusted-clients-mobile {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      overflow: hidden;
      position: relative;
    }

    .rest {
      display: flex;
      flex-direction: row;
    }

    .hire-us-container-trusted-clients-mobile img {
      width: 150px;
      position: relative;
      animation: move 15s infinite;
      animation-timing-function: linear;
    }

    .hire-us-container-trusted {
      @include section-color;
      text-align: center;
      padding: 50px 0;

      p {
        @include font-primary-medium;
        @include paragraph-color-dark;
      }
    }
  }
}

@keyframes move {
  from {
    right: 0px;
  }

  to {
    right: 1950px;
  }
}

@media all and(min-width:1280px) {
  .hire-us {
    #{&}-container {
      flex-direction: row;
      height: 90vh;

      .hire-us-container-text {
        padding: 100px 20%;
        width: 80%;
      }

      .hire-us-container-trusted {
        margin-top: -50px;
        width: 20%;
        padding: 100px 0;
      }

      .hire-us-container-trusted-clients {
        display: flex;
        margin-top: 25px;
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-direction: column;
        height: 100%;
      }

      .hire-us-container-trusted-clients-mobile {
        display: none;
      }

      .hire-us-container-trusted-clients img {
        position: relative;
        width: 210px;
      }

      .rest {
        display: none;
      }

      #showTrusted {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        height: 90%;
      }

      .trusted-img {
        display: none;
      }

      .hire-us-heading-back {
        font-size: 4em;
        margin-bottom: -60px;
      }

      .hire-us-heading {
        font-size: 4.5em;
      }

      .hire-us-paragraph {
        font-size: 1.5em;
      }

      .hire-us-button button {
        width: 170px;
      }

      .hire-us-button button:hover {
        @include button-color-blue-hover;
        transition: 0.5s;
      }
    }
  }

  @keyframes showTrusted1 {
    0% {
      bottom: -100px;
      opacity: 0;
    }

    20% {
      bottom: 0px;
      opacity: 1;
    }

    40% {
      bottom: 0px;
      opacity: 1;
    }

    60% {
      bottom: 0px;
      opacity: 1;
    }

    80% {
      bottom: 0px;
      opacity: 1;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }

  }

  @keyframes showTrusted2 {
    0% {
      bottom: -100px;
      opacity: 0;
    }

    20% {
      bottom: 0px;
      opacity: 0;
    }

    40% {
      bottom: 0px;
      opacity: 1;
    }

    60% {
      bottom: 0px;
      opacity: 1;
    }

    80% {
      bottom: 0px;
      opacity: 1;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }

  }

  @keyframes showTrusted3 {
    0% {
      bottom: -100px;
      opacity: 0;
    }

    20% {
      bottom: 0px;
      opacity: 0;
    }

    40% {
      bottom: 0px;
      opacity: 0;
    }

    60% {
      bottom: 0px;
      opacity: 1;
    }

    80% {
      bottom: 0px;
      opacity: 1;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }

  }

  @keyframes showTrusted4 {
    0% {
      bottom: -100px;
      opacity: 0;
    }

    20% {
      bottom: 0px;
      opacity: 0;
    }

    40% {
      bottom: 0px;
      opacity: 0;
    }

    60% {
      bottom: 0px;
      opacity: 0;
    }

    80% {
      bottom: 0px;
      opacity: 1;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }

  }

  @keyframes showTrusted5 {
    0% {
      bottom: -100px;
      opacity: 0;
    }

    20% {
      bottom: 0px;
      opacity: 0;
    }

    40% {
      bottom: 0px;
      opacity: 0;
    }

    60% {
      bottom: 0px;
      opacity: 0;
    }

    80% {
      bottom: 0px;
      opacity: 0;
    }

    100% {
      bottom: 0px;
      opacity: 1;
    }

  }

  // @keyframes hideTrusted {
  //   0% {
  //     bottom: 0px;
  //     opacity: 1;
  //   }

  //   50% {
  //     bottom: -100px;
  //     opacity: 0.5;
  //   }

  //   100% {
  //     bottom: -200px;
  //     opacity: 0;
  //   }
  // }

}