@import "./font";
@import "./colors";

.hire-us {
  padding: 50px 0;
  padding-bottom: 0;

  #{&}-container {
    display: flex;
    flex-direction: column;

    .hire-us-container-text {
      padding: 0 5%;
      margin-bottom: 30px;
    }

    .hire-us-heading-back {
      @include font-primary-medium;
      @include heading-color-back;
      font-size: 2em;
      margin-bottom: -25px;
    }

    .hire-us-heading {
      @include font-secondary-italic;
      @include heading-color-dark;
      font-size: 2em;
    }

    .hire-us-paragraph {
      @include font-primary-medium;
      @include paragraph-color-dark;
      font-size: 1em;
    }

    .hire-us-button button {
      @include font-primary-medium;
      @include paragraph-color-light;
      @include button-color-blue;
      font-size: 1em;
      border: none;
      border-radius: 30px;
      width: fit-content;
      padding: 15px 25px;
      margin-top: 30px;
    }

    .hire-us-button button:hover {
      @include button-color-blue-hover;
      transition: 0.5s;
    }

    .hire-us-container-trusted {
      @include section-color;
      text-align: center;
      padding: 50px 0;

      p {
        @include font-primary-medium;
        @include paragraph-color-dark;
      }
    }

    .hire-us-container-trusted-clients {
      display: flex;
      margin-top: 25px;
      overflow: hidden;
      position: relative;
    }

    .hire-us-container-trusted-clients img {
      width: 150px;
      position: relative;
      animation: move 15s infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes move {
  from {
    right: 0px;
  }

  to {
    right: 2250px;
  }
}

@media all and(min-width:1280px) {
  .hire-us {
    #{&}-container {
      flex-direction: row;

      .hire-us-container-text {
        padding: 0 10%;
        width: 70%;
      }

      .hire-us-container-trusted {
        margin-top: -50px;
        width: 30%;
      }

      .hire-us-container-trusted-clients {
        align-items: center;
        flex-direction: column;
      }

      .hire-us-container-trusted-clients img {
        width: 210px;
        animation: unset;
      }

      .hire-us-heading-back {
        font-size: 2.5em;
        margin-bottom: -35px;
      }

      .hire-us-heading {
        font-size: 2.5em;
      }

      .hire-us-paragraph {
        font-size: 1.5em;
      }

      .hire-us-button button:hover {
        @include button-color-blue-hover;
        transition: 0.5s;
      }
    }
  }
}