@import "./font";

.join {
  padding: 100px 5%;
  background-color: #f9fafe;

  #{&}-container {
    .join-container-heading-back {
      @include font-primary-medium;
      font-size: 2em;
      color: #e6e7e8;
      margin-bottom: -25px;
    }

    .join-container-heading {
      @include font-secondary-italic;
      font-size: 2em;
      color: #22252e;
    }

    .join-container-button {
      display: flex;
      justify-content: center;
    }

    .join-container-button button {
      @include font-primary-medium;
      font-size: 1em;
      color: #ffffff;
      background-color: #000000;
      width: fit-content;
      padding: 15px 30px;
      border: none;
      border-radius: 25px;
    }

    .join-container-button button:hover {
      background-color: #22252e;
      transition: 0.5s;
    }
  }

  #{&}-container-career {
    margin-top: 50px;

    .join-container-career-card {
      display: flex;
      flex-direction: column;
      padding: 20px 5%;
      width: 100%;
      background-color: #ffffff;
      margin: 25px 0;
      border-radius: 10px;
      box-shadow: #9b9c9e 1px 5px 20px;
    }

    .career-card-text {
      @include font-primary-medium;
      font-size: 1em;
      color: #22252e;
      margin-bottom: 20px;
    }

    .career-card-button button {
      @include font-primary-medium;
      font-size: 1em;
      color: #ffffff;
      background-color: #317ade;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      width: 150px;
    }

    .career-card-button button:hover {
      background-color: #314ade;
      transition: 0.5s;
    }
  }
}

@media all and(min-width:1280px) {
  .join {
    #{&}-container {
      .join-container-heading-back {
        font-size: 3.5em;
        margin-bottom: -35px;
      }

      .join-container-heading {
        font-size: 3.5em;
      }

      .join-container-button button {
        font-size: 1.5em;
        border-radius: 30px;
      }
    }

    #{&}-container-career {
      .join-container-career-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
      }

      .career-card-text {
        font-size: 1.75em;
        margin: unset;
      }
    }
  }
}
