@import "./font";
@import "./colors";

.join {
  @include section-color;
  padding: 100px 5%;

  #{&}-container {
    .join-container-heading-back {
      @include font-primary-medium;
      @include heading-color-back;
      font-size: 2em;
      margin-bottom: -25px;
    }

    .join-container-heading {
      @include font-secondary-italic;
      @include heading-color-dark;
      font-size: 2em;
    }

    .join-container-button {
      display: flex;
      justify-content: center;
    }

    .join-container-button button {
      @include font-primary-medium;
      @include paragraph-color-light;
      @include button-hero-color-dark;
      font-size: 1em;
      width: fit-content;
      padding: 15px 30px;
      border: none;
      border-radius: 25px;
    }

    .join-container-button button:hover {
      @include button-hero-color-dark-hover;
      transition: 0.5s;
    }
  }

  #{&}-container-career {
    margin-top: 50px;

    .join-container-career-card {
      @include white-background;
      @include box-shadow;
      display: flex;
      flex-direction: column;
      padding: 20px 5%;
      width: 100%;
      margin: 25px 0;
      border-radius: 10px;
    }

    .career-card-text {
      @include font-primary-medium;
      @include paragraph-color-dark;
      font-size: 1em;
      margin-bottom: 20px;
    }

    .career-card-button button {
      @include font-primary-medium;
      @include paragraph-color-light;
      @include button-color-blue;
      font-size: 1em;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      width: 150px;
    }

    .career-card-button button:hover {
      @include button-color-blue-hover;
      transition: 0.5s;
    }
  }
}

@media all and (min-width:1280px) {
  .join {

    padding: 100px 20%;

    #{&}-container {
      .join-container-heading-back {
        font-size: 3.5em;
        margin-bottom: -35px;
      }

      .join-container-heading {
        font-size: 3.5em;
      }

      .join-container-button button {
        font-size: 1.5em;
        border-radius: 30px;
      }
    }

    #{&}-container-career {
      .join-container-career-card {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
      }

      .career-card-text {
        font-size: 1.75em;
        margin: unset;
      }
    }
  }
}