@import "./font";
@import "./colors";

.offer {
  @include section-color;
  padding: 50px 5%;
}

.offer-info {
  #{&}-text h2 {
    @include font-secondary-italic;
    @include heading-color-dark;
    font-size: 3em;
    margin-bottom: 32px;
  }

  #{&}-text p {
    @include font-primary-light;
    @include paragraph-color-dark;
    margin: 30px 0;
    font-size: 1em;
  }

  #{&}-button button {
    @include button-color-blue;
    border: none;
    border-radius: 30px;
    padding: 12px 33px;
  }

  #{&}-button button:hover {
    @include button-color-blue-hover;
    transition: 0.5s;
  }

  #{&}-button a {
    @include font-primary-medium;
    @include paragraph-color-light;
    text-decoration: none;
    font-size: 1.25em;
  }
}

.offer-product {
  margin: 50px 0 0;

  #{&}-wrapper1 {
    margin-bottom: 50px;
    transition: transform 0.2s;
  }

  .offer-product-wrapper1:hover {
    transform: scale(1.1);

    h2 {
      @include offer-color1;
      transition: 0.5s;
    }
  }

  #{&}-wrapper1 p {
    @include font-primary-medium;
    @include offer-color1;
    font-size: 1em;
    margin-bottom: 10px;
  }

  #{&}-wrapper1 h2 {
    @include font-primary-heavy;
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  #{&}-wrapper-icons img {
    margin-bottom: 20px;
    width: 40px;
    aspect-ratio: 1/1;
  }

  #{&}-wrapper-image img {
    width: 160px;
    height: 250px;
  }

  #{&}-wrapper2 {
    margin-bottom: 50px;
    transition: transform 0.2s;

    .offer-product-wrapper-image img {
      width: 275px;
      height: 250px;
    }
  }

  .offer-product-wrapper2:hover {
    transform: scale(1.1);

    h2 {
      @include offer-color2;
      transition: 0.5s;
    }
  }

  #{&}-wrapper2 p {
    @include font-primary-medium;
    @include offer-color2;
    font-size: 1em;
    margin-bottom: 10px;
  }

  #{&}-wrapper2 h2 {
    @include font-primary-heavy;
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  #{&}-wrapper3 {
    transition: transform 0.2s;

    .offer-product-wrapper-image img {
      width: 250px;
      height: 310px;
    }
  }

  .offer-product-wrapper3:hover {
    transform: scale(1.1);

    h2 {
      @include offer-color3;
      transition: 0.5s;
    }
  }

  #{&}-wrapper3 p {
    @include font-primary-medium;
    @include offer-color3;
    font-size: 1em;
    margin-bottom: 10px;
  }

  #{&}-wrapper3 h2 {
    @include font-primary-heavy;
    font-size: 1.25em;
    margin-bottom: 10px;
  }
}

@media all and(min-width:1280px) {
  .offer {
    padding: 100px 20%;
  }

  .offer-info {
    display: flex;
    justify-content: space-between;

    #{&}-text {
      width: 50%;
    }

    #{&}-text h2 {
      width: 70%;
      font-size: 5em;
    }

    #{&}-text p {
      font-size: 1.25em;
    }
  }

  .offer-product {
    display: flex;
    justify-content: left;

    #{&}-wrapper1 {
      width: 30%;
      margin-right: 40px;
    }

    #{&}-wrapper2 {
      width: 30%;
      margin-right: 40px;
    }

    #{&}-wrapper3 {
      width: 30%;
      margin-bottom: 50px;
    }
  }
}