@import "./font";
@import "./colors";

.why {
  padding: 0 5%;
  padding-bottom: 100px;
}

.why-badin-item-container {
  .why-badin-item-text h2 {
    @include font-secondary-italic;
    @include heading-color-dark;
    font-size: 3em;
    margin: 32px 0;
  }

  .why-badin-item-text p {
    @include font-primary-medium;
    @include paragraph-color-dark;
    font-size: 1em;
    margin: 50px 0;
  }

  .why-badin-item-image img {
    @include box-shadow;
    width: 100%;
    border-radius: 20px;
  }

  .why-badin-item-container-inv-pic img {
    display: none;
  }
}

@media all and (min-width:1280px) {
  .why {
    padding: 0 20%;
    padding-bottom: 100px;
  }

  .why-badin-item-container {
    overflow: visible;

    .why-badin-item-container-inv-pic {
      width: 80%;
      padding-bottom: 100px;
    }

    .why-badin-item-image img {
      width: 170%;
    }

    .why-badin-item-container-inv-pic img {
      @include box-shadow;
      border-radius: 20px;
      width: 100%;
      display: unset;
    }

    .why-badin-item-text-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 70px;
    }

    .why-badin-item-text-title h2 {
      width: 25%;
      font-size: 4.5em;
      margin-top: 0;
    }

    .why-badin-item-text-title p {
      font-size: 1.25em;
      width: 70%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .why-badin-item-text-image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #{&}-paragraph {
      width: 70%;
      margin-right: 100px;
      font-size: 1.25em;
    }
  }
}